body {
  background-color: #eee !important;
}

/* HEADER */
header {
  background-color: rgb(245, 68, 68);
  min-height: 80px;
  max-height: 120px;
  justify-content: center;
  display: flex;
}

.link:link,
.link:visited,
.link:active
.link:hover{
    text-decoration: none;
    color: #fff !important;
}
.logoHeader{
  max-height: 100px;
}

.profilePicture{
  max-height: 90px;
  border-radius: 50%;
  overflow: hidden;
}

.divHeader {
  align-items: center;
  width: 1200px;
}


.divMain {
  /* max-width: 1200px; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.rowForm {
  display: grid;
  justify-content: center;
  align-items: center;
  padding: 32px 32px;
}

.btnSubmit {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}
