body{
    background-color: #EEE !important;
}
.divMain{
    /* max-width: 1200px; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.h-custom {
height: calc(100% - 73px);
}
@media (max-width: 450px) {
.h-custom {
height: 100%;
}
}

.rowForm{

    display: grid;
    justify-content: center;
    align-items: center;
    padding: 32px 32px;
}

.btnSubmit{
    padding-left: 2.5rem;
    padding-right: 2.5rem;
}