<header class="">
  <div class="divHeader row">
    <div class="divLogo col-1"
    >
      <a
        href="/"
        class=""
      >
      <img src="../../LOGO_news.png" alt="logo" class="logoHeader">

      </a>
      </div>

      <div class="divMenu col-6">
      <ul
        class="nav"  
      >
        <li><a href="/" class="nav-link link">MENDOZA</a></li>
        <li><a href="/" class="nav-link link">PAÍS</a></li>
        <li><a href="/" class="nav-link link">DEPORTES</a></li>
        <li><a href="/" class="nav-link link">POLICIALES</a></li>
        <li><a href="/" class="nav-link link">LIBROS</a></li>

        <!-- ESTO SE MUESTRA SOLO A USUARIO CON ROL WRITER -->
        <a href="/news/createNews"
          ><button
            type="button"
            class="btn btn-primary me-2"
            sec:authorize="hasRole ('WRITER') OR hasRole('EDITOR')"
          >
            Cargar Noticia
          </button></a
        >
        <!-- ---------------------------------------------- -->
      </ul>
    </div>
    <div class="divSearch col-2">
      <!-- <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
                  <input type="search" class="form-control form-control-dark text-bg-dark" placeholder="Search..." aria-label="Search">
                </form> -->
    </div>

      <div class="divLogin col-3">
        <!-- ESTE DIV SE MUESTRA SI NO HAY USUARIO LOGUEADO -->
        <div
          class="divGuest"
          th:if="${session.readerSession == null AND session.writerSession == null}"
        >
          <a href="/login">
            <button type="button" class="btn btn-outline-light me-2">
              Login
            </button></a
          >

          <a href="/register">
            <button type="button" class="btn btn-warning">Sign-up</button></a
          >
        </div>
        <!-- ------------------------------ -->
        <!-- ESTE DIV SE MUESTRA SI CON USUARIO LOGUEADO -->
        <div class="dropdown text-end" th:if="${session.readerSession != null OR session.writerSession != null}">
          <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
        
            <!-- Si el esta logueado Reader -->
            <img class="imagen-perfil" 
            th:if="${session.readerSession != null}" 
                 th:src="@{/image/user/__${session.readerSession.id}__}">
            <!-- -------------------------- -->
        
        
            <!-- Si el esta logueado Writer-->
              <img class="imagen-perfil" 
                   th:if="${session.writerSession != writerSession}"
                   th:src="@{image/user/__${session.writerSession.id}__}" >
            <!-- -------------------------- -->
        
          </a>
          <ul class="dropdown-menu text-small">
             <!-- Si el esta logueado Reader -->
              <li th:if="${session.readerSession == readerSession}">
                  <!-- <a th:href="@{/reader/profile}" id="btn-contacto" class="linkDesplegable  divHeaderPerfil" >Perfil</a> -->
              </li>
              <!-- -------------------------- -->
                 <!-- Si el esta logueado Writer-->
              <li  th:id="${session.writerSession == writerSession}">
                  <!-- <a th:href="@{/profesional/profile}" id="btn-contacto" class="linkDesplegable  divHeaderPerfil">Perfil</a> -->
              </li>
               <!-- -------------------------- -->
        
              <li><hr class="dropdown-divider"></li>
        
              <li><a href="/logout" class="linkDesplegable">Cerrar Sesión</a></li>
          </ul>
        </div>
        <!-- ------------------------------ -->
      </div>
    </div>
  </div>
</header>

